[submodule "external/nlopt"]
	path = external/nlopt
	url = https://github.com/stevengj/nlopt.git
[submodule "external/nlopt-util"]
	path = external/nlopt-util
	url = https://github.com/yuki-koyama/nlopt-util.git
