language: cpp

matrix:
  include:
    - compiler: gcc
      os: linux
    - compiler: clang
      os: osx

dist: xenial

addons:
  homebrew:
    update: true
    packages:
    - eigen
  apt:
    packages:
    - libeigen3-dev

before_script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then pyenv global 3.7; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then pip install numpy scipy; fi

script:
  - cmake -DMATHTOOLBOX_BUILD_EXAMPLES=ON -DMATHTOOLBOX_PYTHON_BINDINGS=ON .
  - make
  - ctest
